@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@1,100&family=Open+Sans&family=Poppins:wght@400;500;600;700&display=swap");
.header {
  margin: 0 0%;
  color: rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;

  font-size: 18px;
}
.forFonts {
  font-family: "Open Sans", sans-serif;
}
.main {
  margin: 0 0%;
  color: rgb(124, 101, 101);
}

.menu {
  color: rgb(134, 134, 200);
}

.nav-bar-link {
  padding: 0px 5px;
  margin: 0%;
}

.content {
  margin: 0 10%;
  font-size: 18px;
}

.footer {
  color: #010101;
  text-align: center;
  font-size: 15px;
}

h1 {
  text-align: center;
}

.images {
  width: 900px;
  height: 630px;
  text-align: center;
  margin: 0px auto 0px auto;
  display: block;
}

.code {
  background-color: #001529;
  margin: 5px 5px;
  padding: 10px 30px;
  border-radius: 10px;
  color: rgb(134, 134, 200);
}
.button {
  text-align: center;
}
