.main {
  margin: 0 0%;
  border-color: #86ce00;
  color: rgb(209, 103, 103);
}

.header {
  margin: 0 0%;
  color: black;
  display: flex;
  flex-wrap: wrap;
}

.menu {
  color: rgb(134, 134, 202);
}

.nav-bar-link {
  color: #86ce00;
  padding: 0px 10px;
  margin: 0%;
}

.content {
  margin: 0 10%;
}
